[Unit]
Description=Turn up performance for high compute processes
After=network-online.target
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/local/bin/performanceMon
PIDFile=/run/performanceMon/performanceMon.pid
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
